<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
</head>
<body>
    <h1>To-do List!</h1>

    <dir class="container">
        <form action="/addElement" method="post">
            <div class="form-group">
                <label for="content">내용</label>
                <input type="text" id="content" name="content"/>
                <button type="submit">등록</button>
            </div>
        </form>
    </dir>

    <div class="container">
        <div>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${elements}">
                    <td th:text="${element.id}"></td>
                    <td th:text="${element.content}"></td>
                    <td>
                        <form id="delete-form" th:action="@{'/delete/' + ${element.id}}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <button id="delete-btn">삭제</button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->

</body>
</html>